VITE_API_BASE_URL=http://localhost:8000/api
VITE_API_TICKETS_PATH=/tickets
VITE_USERS_PATH=/users
VITE_REGISTER_PATH=/register
VITE_REPORT_PDF_PATH=/reports/attendances
VITE_TV_RECENTLY_CALLED_PATH=/tickets/recently-called
VITE_API_KEY=your-api-key-here
VITE_API_TIMEOUT_MS=10000
